@model FA.JustBlogg.Context.tbl_PostList
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .error{
        color: red;
    }
</style>

<header class="masthead" style="background-image: url('/wwwroot/img/post-sample-image.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>Man must explore, and this is exploration at its greatest</h1>
                    <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                    <span class="meta">
                        Posted by
                        <a href="#">Start Bootstrap</a>
                        on August 24, 2019
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
@using (Html.BeginForm("AddPost", "Post", FormMethod.Post))
{
    <div class="container">
        <div class="form-group">

            <label>Name</label>

            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "error" })

        </div>
        <div class="form-group">
            <label>ShortDescription</label>

            @Html.TextBoxFor(x => x.ShortDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ShortDescription, "", new { @class = "error" })
        </div>
        <div class="form-group">
            <label>Description</label>

            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = "10" })
            @Html.ValidationMessageFor(x => x.Description, "", new { @class = "error" })
        </div>
        <div class="form-group">
            <label>PostedOn</label>

            @Html.TextBoxFor(x => x.PostedOn, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.PostedOn, "", new { @class = "error" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>

    </div>
}

